{% extends "base_generic.html" %}

{% block title %} <title>About</title> {% endblock %}

{% block content%}
    <h1> <em>automate</em>D<em> n</em>ET<em>work p</em>ER<em>imeter th</em>RE<em>at p</em>R<em>evention </em>S<em>ystem</em> (DETERRERS) </h1>
    <br>
    <p>
        Welcome to Deterrers, the Automated Network Perimeter Threat Prevention System.<br>
        This tool was developed by <em>Nikolas Wintering</em> (email: nwintering@uos.de)!<br>
        {% if user.is_authenticated %}
        Please fill out the <a href="https://cryptpad.rz.uni-osnabrueck.de/form/#/2/form/view/2RKGx3NOFFV6WdegC+b+CyE3e+maqMjDBVpmETEwvW4/embed/" target="_blank" rel="noopener noreferrer">following survey</a> after you used DETERRERS and registered all your hosts:<br>
        {% endif %}
    </p>

    <hr>

    <h2> Usage: </h2>
    <p>
        <ol>
            <li>Login.</li>
            <li>Visit your overview page. On first visit you will be asked to choose your department.</li>
            <li>Add new hosts. You can either choose yourself as the admin or your whole department.</li>
            <li>Choose a host from the list. The list contains all hosts you or your department has been assigned to as administrator.</li>
            <li>Several actions can be performed on a host:</li>
                <ul>
                    <li>
                        <b>Register:</b>
                        <p>
                            The host will be scanned thoroughly for vulnerabilities <s>and unblocked by the perimeter firewall on success</s><i>(not in effect yet)</i>. 
                            <s>In case there are security risks, the host remains blocked.</s> <i>(not in effect yet)</i><br>
                            Hosts should have a severity score (CVSS) of less than approximatly 8.5.<br>
                            Information on the scan results will be send via e-mail to the admin(s).
                        </p>
                    </li>
                    <li>
                        <b>Ordinary Scan:</b>
                        <p>
                            The host will be scanned for vulnerabilities but not as thoroughly as on registration.<br>
                            No changes to the perimeter firewall will be made.<br>
                            This feature enables you to assess your hosts risk level without making any changes to further infrastructure.
                        </p>
                    </li>
                    <li>
                        <b>Block:</b>
                        <p>
                            Remove host from periodic scan <s>and block the host at the perimeter firewall.</s><i>(not in effect yet)</i>
                        </p>
                    </li>
                    <li>
                        <b>Edit Details:</b>
                        <p>
                            Choose a profile for the service the host provides to the internet and choose the host-based firewall program running on the host.<br>
                            This information is used for configuring the perimeter firewall to only allow traffic corresponding to the chosen service profile.<br>
                            This information is also used for generating the host-based firewall configuration script.
                        </p>
                    </li>
                    <li>
                        <b>Edit host-based firewall policies:</b>
                        <p>
                            Specify policies for more precise control over the host-based firewall configuration.<br>
                            These policies are aimed at the host-based firewall and do not have an impact on the perimeter firewall.
                            This implies that they will also affect traffic from inside the university network!
                            Pay attention when you edit policies that, e.g., regard SSH traffic (port 22).
                        </p>
                    </li>
                    <li>
                        <b>Download host-based firewall configuration script:</b>
                        <p>
                            Generate and download the configuration script.
                        </p>
                    </li>
                </ul>
            <li>A host can be in one of four different states:</li>
                <ul>
                    <li>
                        <b>Unregistered</b>
                        <p>
                            Initial state of every host.
                        </p>
                    </li>
                    <li>
                        <b>Under Review</b>
                        <p>
                            Some scan is running for this host. This might take a while.
                        </p>
                    </li>
                    <li>
                        <b>Blocked</b>
                        <p>
                            The host is blocked from the internet and will not be scanned periodically.
                        </p>
                    </li>
                    <li>
                        <b>Online</b>
                        <p>
                            The host is online and connected to the internet. It will be scanned periodically (once a week).
                        </p>
                    </li>
                </ul>
        </ol>
    </p>


    <hr>

    <h2> New Features: </h2>
    <p>
    {% if changelog %}
        <ul>
        {% for change in changelog %}
            <li>
                {{ change }}
            </li>
        {% endfor %}
        </ul>
    {% endif %}
    </p>

{% endblock %}