{% extends "base_generic.html" %}

{% load django_bootstrap5 %}

{% block title %} <title>My Hosts</title> {% endblock %}

{% block content %}
	<h1>List of my hosts</h1>
	<p>There are the following hosts administerd by me:</p>
	{% if hosts_list %}
	<table style="width:100%">
		<thead>
			<tr>
				<th>IP Address</th>
				<th>DNS Names</th>
				<th>Profile</th>
				<th>Status</th>
			</tr>
		</thead>
		{% for host in hosts_list %}
		<tbody>
			<tr>
				<td><a href="{{ host.get_absolute_url }}">{{host.ip_addr}}</a></td>
				<td>{{host.get_dns_rcs_display}}</td>
				<td>{{host.get_service_profile_display}}</td>
				<td>{{host.get_status_display}}</td>
			</tr>
		</tbody>
		{% endfor %}
	</table>
	{% else %}
		<p>There are no hosts for this administrator.</p>
	{% endif %}
	{% if is_paginated %}
						<div class="pagination">
							<span class="page-links">
								{% if page_obj.has_previous %}
									<a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Previous</a>
								{% endif %}
								<span class="page-current">
									Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
								</span>
								{% if page_obj.has_next %}
									<a href="{{ request.path }}?page={{ page_obj.next_page_number }}">Next</a>
								{% endif %}
							</span>
						</div>
					{% endif %}

	<br>
	<hr>

	<h2>Add new host:</h2>
	<form method="post" action="{% url 'hosts_list' %}">
		{% csrf_token %}
		{% bootstrap_form form %}
		{% bootstrap_button button_type="submit" content="Add" button_class="btn btn-primary btn-lg" %}
	  </form>
{% endblock %}

{% block pagination %}
{% endblock %}