{% extends "base_generic.html" %}

{% load django_bootstrap5 %}

{% block title %} <title>Host Status: {{host_detail.ip_addr}} ({{host_detail.name}})</title> {% endblock %}

{% block content %}
<div id="host_details">
    <h2> Host Details: </h2>
    <br>
    <p>
        <table style="width:100%">
            <thead>
                <tr>
                    <th>IP Address</th>
                    <th>Name</th>
                    <th>Admin(s):</th>
                    <th>Internet Service Profile</th>
                    <th>Host-based Firewall</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{host_detail.ip_addr}}</td>
                    <td>{{host_detail.name}}</td>
                    <td>{{host_detail.admin_ids|join:", "}}</td>
                    <td>{{host_detail.get_service_profile_display}}</td>
                    <td>{{host_detail.get_fw_display}}</td>
                    <td>{{host_detail.get_status_display}}</td>
                </tr>
            </tbody>
        </table>
    </p>
</div>
<hr>
<div id="host_rules">
    <h3> Host-based Firewall Policies: </h3>
    <p>
        <table style="width:100%">
            <thead>
                <tr>
                    <th>Allow from:</th>
                    <th>Port(s):</th>
                    <th>Protocol:</th>
                    <th></th>
                </tr>
            </thead>
            </tbody>
            {% for rule in host_rules %}
                <form action="{{request.path}}rule/delete/{{rule.id}}/" method="post">
                    {% csrf_token %}
                    <tr>
                        <td>{{rule.allow_src}}</td>
                        <td>{{rule.allow_ports|join:", "}}</td>
                        <td>{{rule.allow_proto}}</td>
                        <td>{% bootstrap_button button_type="submit" content="Delete" %}</td>
                    </tr>
                </form>
            {% endfor %}
            </tbody>
            <tfoot>
                <form action='' method="post" class="form">
                    {% csrf_token %}
                    <tr>
                        <td>
                            {% bootstrap_field form.subnet show_label=False %}
                        </td>
                        <td>
                            {% bootstrap_field form.ports show_label=False %}
                        </td>
                        <td>
                            {% bootstrap_field form.protocol show_label=False %}
                        </td>
                        <td>
                            {% bootstrap_button button_type="submit" content="Add" %}
                            {% bootstrap_form_errors form %}
                        </td>
                    </tr>
                    <br>
                </form>
            </tfoot>
        </table>
    </p>
</div>
<hr>
<div>
    <h3> Increasing the Scan Quality: </h3>
    <br>
    <p>
        In order to increase the vulnerability scan results, we recommend to enable SSH access for the vulnerability scanner. This can be achieved by following these steps:
        <ol>
            <li>On the target host: Create a user named <code>greenbone</code>.</li>
            <li>
                Download the public key that enables key-based SSH access for the vulnerability scanner:<br>
                <code>curl {{scanner_key_url}} --output scanner.pub</code>
            </li>
            <li>
                Add this public key to the authorized keys of user <code>greenbone</code>:<br>
                <code>
                    sudo bash -c "mkdir -p /home/greenbone/.ssh && touch /home/greenbone/.ssh/authorized_keys && cat scanner.pub >> /home/greenbone/.ssh/authorized_keys"
                </code>
            </li>
            <li>In case you restricted the allowed users for SSH you should add the user <code>greenbone</code> to the AllowUsers list in <code>/etc/ssh/sshdconfig</code>.</li>
        </ol>
        Now the vulnerability scanner should have SSH access to your host and be able to gather more precise information on possible vulnerabilities of your system.
    </p>
</div>
<hr>
<div id="host_actions">
    <h3> Available Actions: </h3>
    <br>
    <p>
        <p>
            <form action="{{request.path}}update/" method="get">
                <div class="d-grid gap-2 col-6 mx-auto">
                    {% csrf_token %}
                    {% if can_update %}
                        {% bootstrap_button name="update_btn" button_type="submit" content="Edit Details" button_class="btn btn-primary btn-lg" %}
                    {% else %}
                        {% bootstrap_button name="update_btn" button_type="submit" content="Edit Details" button_class="btn btn-primary btn-lg" disabled=True %}
                    {% endif %}
                </div>
            </form>
        </p>
            
        <p>
            <form action="{{request.path}}register/" method="post">
                <div class="d-grid gap-2 col-6 mx-auto">
                    {% csrf_token %}
                    {% if can_register %}
                        {% bootstrap_button name="register_btn" button_type="submit" content="Register" button_class="btn btn-primary btn-lg" %}
                    {% else %}
                        {% bootstrap_button name="register_btn" button_type="submit" content="Register" button_class="btn btn-primary btn-lg" disabled=True %}
                    {% endif %}
                </div>
            </form>
        </p>

        <p>
            <form action="{{request.path}}scan/" method="post">
                <div class="d-grid gap-2 col-6 mx-auto">
                    {% csrf_token %}
                    {% if can_scan %}
                        {% bootstrap_button name="scan_btn" button_type="submit" content="Ordinary Scan" button_class="btn btn-primary btn-lg" %}
                    {% else %}
                        {% bootstrap_button name="scan_btn" button_type="submit" content="Ordinary Scan" button_class="btn btn-primary btn-lg" disabled=True %}
                    {% endif %}
                </div>
            </form>
        </p>

        <p>
            <form action="{{request.path}}block/" method="post">
                <div class="d-grid gap-2 col-6 mx-auto">
                    {% csrf_token %}
                    {% if can_block %}
                        {% bootstrap_button name="block_btn" button_type="submit" content="Block" button_class="btn btn-primary btn-lg" %}
                    {% else %}
                        {% bootstrap_button name="block_btn" button_type="submit" content="Block" button_class="btn btn-primary btn-lg" disabled=True %}
                    {% endif %}
                </div>
            </form>
        </p>

        <p>
            <form action="{{request.path}}get-fw-config/" method="get">
                <div class="d-grid gap-2 col-6 mx-auto">
                    {% csrf_token %}
                    {% if can_download_config %}
                        {% bootstrap_button name="fw_config_btn" button_type="submit" content="Download Firewall Configuration Script" button_class="btn btn-primary btn-lg" %}
                    {% else %}
                        {% bootstrap_button name="fw_config_btn" button_type="submit" content="Download Firewall Configuration Script" button_class="btn btn-primary btn-lg" disabled=True %}
                    {% endif %}
                </div>
            </form>
        </p>
    </p>
</div>

{% endblock %}