{% extends "base_generic.html" %}

{% block title %} <title>Host Status: {{host_detail.ip_addr}} ({{host_detail.name}})</title> {% endblock %}

{% block content %}
<h1> Details on Host: {{host_detail.ip_addr}} ({{host_detail.name}}) </h1>
<table style="width:100%">
    <thead>
        <tr>
            <th>IP Address</th>
            <th>Name</th>
            <th>Internet Service Profile</th>
            <th>Host-based Firewall</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{host_detail.ip_addr}}</td>
            <td>{{host_detail.name}}</td>
            <td>{{host_detail.get_service_profile_display}}</td>
            <td>{{host_detail.get_fw_display}}</td>
            <td>{{host_detail.get_status_display}}</td>
        </tr>
    </tbody>
</table>
<hr>
<div id="host_rules">
    <h2> Additional Firewall Rules: </h2>
    <p>
        <table style="width:100%">
            <thead>
                <tr>
                    <th>Allow from:</th>
                    <th>Port(s):</th>
                    <th></th>
                </tr>
            </thead>
            </tbody>
            {% for rule in host_rules %}
                <form action="{{request.path}}rule/delete/{{rule.id}}/" method="post">
                    {% csrf_token %}
                    <tr>
                        <td>{{rule.allow_srcs|join:", "}}</td>
                        <td>{{rule.allow_ports|join:", "}}</td>
                        <td><button type=submit>Delete</button></td>
                    </tr>
                </form>
            {% endfor %}
            </tbody>
            <tfoot>
                <form action='' method="post">
                    {% csrf_token %}
                    <tr>
                        <td>
                            {{form.subnets}}
                            {{form.subnets.errors}}
                        </td>
                        <td>
                            {{form.ports}}
                            {{form.ports.errors}}
                        </td>
                        <td>
                            <input type="submit" value="Add">
                        </td>
                    </tr>
                </form>
            </tfoot>
        </table>
    </p>
</div>
<hr>
<div id="host_actions">
    <h2> Available Actions: </h2>
        <form action="{{request.path}}update/" method="get">
            {% csrf_token %}
            <button type=submit {% if not can_update %}disabled{% endif %}>Edit Host Details</button>
        </form>
        
        <form action="{{request.path}}register/" method="post">
            {% csrf_token %}
            <button type=submit {% if not can_register %}disabled{% endif %}>Register</button>
        </form>
        
        <form action="{{request.path}}scan/" method="post">
            {% csrf_token %}
            <button type=submit {% if not can_scan %}disabled{% endif %}>(Repeat) Scan</button>
        </form>
</div>
{% endblock %}