Django == 5.0.13
ldap3 == 2.9.1
django-python3-ldap == 0.15.5
requests
gunicorn
python-gvm == 24.6.0
icalendar
django-bootstrap5
djangorestframework
pyyaml
uritemplate
cvss
markdown
django-maintenance-mode
flake8