header {
    background-color: rgb(47, 79, 79);
    color: white;

    padding: 5px;
    border-bottom: thin solid rgb(40, 70, 70);
}

header nav .login {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
}

.nav-link {
    color: rgba(184, 134, 11, 1);
}

.nav-link:hover, .nav-link:focus {
    color: rgba(184, 134, 11, 0.8);

}

.nav-link.active {
    color: rgba(184, 134, 11, 1);
    font-weight: bold;
}

main > .container {
    padding: 12px;
}

.col-sm-10 {
    margin-left: 250px; /* Same width as the sidebar + left position in px */
    margin-top: 20px;
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

body {
    background-color: rgba(47, 79, 79, 0.95);
    color: white;
}

a {
    color: rgba(184, 134, 11, 1);
}

a:hover, a:focus {
    color: rgba(184, 134, 11, 0.8);
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 10px;
} 

tr:hover {background-color: rgb(57, 96, 96);}

.btn, .btn:disabled, .btn:hover{
    border-color: rgb(0, 0, 0);
}

.btn-primary {
    background-color: rgb(184, 134, 11);
    border-color: rgb(0, 0, 0);
}

.btn-primary:disabled {
    background-color: rgb(231, 170, 13);
}

.btn-primary:hover {
    background-color: rgb(135, 99, 8);
}

code {
    color: white;
    background-color: rgb(57, 96, 96);
}

.host-actions {
    display: flex;
    gap: 5px;
}

.host-actions button {
    min-width: 150px;
}
  
.column {
    flex: 50%;
}