header {
    background-color: rgb(47, 79, 79);
    color: white;

    padding: 5px;
    border-bottom: thin solid rgb(40, 70, 70);
}

header nav .login {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
}

.navbar-brand, .navbar-brand:hover, .navbar-brand:focus {
    color: white;
}

.nav-link {
    color: rgba(184, 134, 11, 1);
}

.nav-link:hover, .nav-link:focus {
    color: rgba(184, 134, 11, 0.8);

}

.navbar .nav-link.active {
    color: rgba(184, 134, 11, 1);
    font-weight: bold;
}

.nav-tabs {
    flex-wrap: nowrap;
}

.nav-tabs .nav-link {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.nav-tabs .nav-link.active {
    color: rgba(184, 134, 11, 1);
    font-weight: bold;
    background-color: transparent;
    border-bottom-color: rgba(47, 79, 79, 0.95);
}

.navbar-toggler {
    border-color: rgba(184, 134, 11, 0.5);
}

.navbar-toggler:focus {
    box-shadow: 0 0 5px rgb(184, 134, 11);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23B8860B' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

main > .container {
    padding: 12px;
}

.form-text {
    color: rgb(211, 211, 211);
}

.col-sm-10 {
    margin-left: 250px; /* Same width as the sidebar + left position in px */
    margin-top: 20px;
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

body {
    background-color: rgba(47, 79, 79, 0.95);
    color: white;
}

a {
    color: rgba(184, 134, 11, 1);
}

a:hover, a:focus {
    color: rgba(184, 134, 11, 0.8);
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 10px;
} 

tr:hover {background-color: rgb(57, 96, 96);}

.btn, .btn:disabled, .btn:hover, .btn-primary:active {
    border-color: rgb(0, 0, 0) !important;
}

.btn-primary {
    color: white !important;
    background-color: rgb(184, 134, 11);
    border-color: rgb(0, 0, 0);
}

.btn-primary:disabled, .btn-primary.disabled {
    background-color: rgb(231, 170, 13);
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus{
    background-color: rgb(135, 99, 8) !important;
}

code {
    color: white;
    background-color: rgb(57, 96, 96);
}

.host-details table, .host-rules table {
    width: 100%;
    margin-bottom: 12px;
}

.host-detail-tabs {
    margin-bottom: 12px;
}

.host-actions {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.host-actions button {
    min-width: 150px;
}

.host-rules-add-row td {
    vertical-align: top;
}
  
.column {
    flex: 50%;
}
