{% extends "base_generic.html" %}

{% load django_bootstrap5 %}

{% block title %} <title>Host Status: {{host_detail.ipv4_addr}} ({{host_detail.get_dns_rcs_display}})</title> {% endblock %}

{% block content %}
    <nav class="nav nav-tabs host-detail-tabs">
        <a class="nav-link {% if active_tab == "general" %}active{% endif %}" href="{% url 'host_detail' ipv4=host_ipv4 tab='general' %}">General</a>
        <a class="nav-link {% if active_tab == "host" %}active{% endif %}" href="{% url 'host_detail' ipv4=host_ipv4 tab='host' %}">Host-based Firewall</a>
        <a class="nav-link {% if active_tab == "Vulnerabilities" %}active{% endif %}" href="{% url 'host_detail' ipv4=host_ipv4 tab='vulerabilities' %}">Vulnerabilities</a>
    </nav>

    {% if active_tab == "general" %}
        {% include "host/general.html" %}
    {% elif active_tab == "host" %}
        {% include "host/host_firewall_policies.html" %}
    {% else %}
        {% include "host/vulnerabilities_list.html" %}
    {% endif %}
{% endblock %}
