
{% load django_bootstrap5 %}

{% block content %}

	<h1>List of Vulnerabilities detected</h1>
	<p>The following following Vulnerabilities have been found on the host:{{host_ipv4}}:</p>
	{% if vulner_list %}
	<table id=vulnerabilities style="width:100%">
		<thead>
			<tr>
				<th><a href='#sort:0:asc'></a>ID</th>
				<th><a href='#sort:1:asc'></a>Port</th>
				<th><a href='#sort:2:asc'></a>Protocol</th>
				<th><a href='#sort:3:asc'></a>Vulnerability Name</th>
				<th><a href='#sort:4:asc'></a>CVSS Base Score</th>
				<th><a href='#sort:5:asc'></a>CVSS Base Vector</th>
				<th><a href='#sort:6:asc'></a>Time of First Detection</th>
				<th><a href='#sort:7:asc'></a>Time of Detection</th>
				<th><a href='#sort:8:asc'></a>Is Silenced</th>
				<th><a href='#sort:9:asc'></a>Change Silences Status</th>

			</tr>
		</thead>
		<tbody>
			{% for vul in vulner_list %}
			<form action="{% url 'host_detail_vulner_update' %}" method="post">
				{% csrf_token %}
			<tr>

				<td>
					<div class="link-to">
						<a href='#' class="hover-des">{{vul.0.nvt_oid}}</a>
							<div class='show'>{{vul.0.description}}</div>
					</div>
				</td>
				<td>{{vul.0.port}}</td>
				<td>{{vul.0.proto}}</td>
				<td>{{vul.0.vulnerability_name}}</td>
				<td>{{vul.0.cvss_base_score}}</td>
				<td>{{vul.0.cvss_base_vector}}</td>
				<td>{{ vul.1 }}</td>
				<td>{{vul.0.date_time}}</td>
				<td>{{vul.0.is_silenced}}</td>
				<td>
					<input type="checkbox" name="hosts" value="{{vul.0.id}}" >
				</td>

			</tr>
			{% endfor %}
		
		</tbody>
		<tr>
			<input type="submit" value="Submit"style='padding: 5px 10px;margin: 10px 0;'>
		</tr>
		</form>
	</table>
	{% else %}
		<p>There are no hosts for this administrator.</p>
	{% endif %}
	{% if is_paginated %}
	<div class="pagination">
			<span class="page-links">
				{% if page_obj.has_previous %}
					<a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Previous</a>
				{% endif %}
				<span class="page-current">
					Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
				</span>
				{% if page_obj.has_next %}
					<a href="{{ request.path }}?page={{ page_obj.next_page_number }}">Next</a>
				{% endif %}
			</span>
	</div>
{% endif %}
{% endblock %}


